@import './../variables.scss';

.table-container {
    width: 100%;

    table {
        border-radius: 8px;
        width: 100%;
        border: 1px solid $color-gray-200;
        overflow: hidden;

        thead {
            background-color: $color-gray-300;
            color: $color-gray-900;
            font-size: $font-size-sm;
        }

        tbody {
            color: $color-gray-900;
            font-size: $font-size-sm;

            tr:nth-child(even) {
                background-color: $color-gray-50;
            }

            tr:nth-child(odd) {
                background-color: $white;
            }

            tr:hover {
                background-color: $color-gray-200;
            }

            .showDetails {
                background-color: unset;
                border: unset;
            }
        }

        tr {
            th {
                text-align: center;
                padding: 16px 3px;
            }

            td {
                text-align: center;
                padding: 12px 3px;

                .checkboxContainer {
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;

                    .checkbox {
                        width: 20px;
                        height: 20px;
                    }
                }

                .button{
                    border-radius: 16px;
                    background: $tertiary-color;
                    border: unset;
                    background-color: unset;
                }
                

                .status {
                    border-radius: 16px;
                    background: $tertiary-color;
                    mix-blend-mode: multiply;
                    font-family: $font-size-md;
                    font-size: $font-size-md;
                    color: $tertiary-color;
                    padding: 2px 8px;
                }
            }
        }

    }

}