/////////////////////////////////Fonts Family
$Regular: Poppins Regular;
$Medium: Poppins Medium;
$SemiBold: Poppins SemiBold;
$Bold: Poppins Bold;

/////////////////////////////////Colors
$primary-color: #190482;
$secondary-color: #7752FE;
$tertiary-color: #8E8FFA;
$quaternary-color: #C2D9FF;
$quinary-color: #F1F1F1;

$black: #000000;
$white: #FFFFFF;

$gray-100: #F9FAFB;
$gray-200: #F3F4F6;
$gray-300: #E5E7EB;
$gray-400: #D1D5DB;
$gray-500: #9CA3AF;
$gray-600: #6B7280;
$gray-700: #4B5563;
$gray-800: #374151;
$gray-900: #1F2937;

//////////////////////////////////shadows
$shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
$shadow2: 1px 1px 5px 2px $gray-700;

//////////////////////////////////border
$border-radius: 8px;
$border-radius2: 10px;

//////////////////////////////////font size
$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-lg: 16px;
$font-size-xl: 18px;
$font-size-xxl: 24px;
$font-size-xxxl: 32px;

